body {
	background-image: url(resources/images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: rgba(3, 3, 3, 0.92);
}

.splash {
	font-size: 20em;;
	text-align: center;
	font-family: 'Alberto', sans-serif;
	color: white;
}

.footer {
	font-size: 1.3em;;
	text-align:right;
	position: fixed;
	right: 0;
	bottom: 0;
	font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
	font-weight: 200;
}

a{
	color: inherit;
}

@font-face {
	font-family: alberto;
	src: url(resources/fonts/alberto.woff);
}
