* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background-image: url(resources/images/background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: rgba(255, 255, 255, 0.92);
	height: 100%;
}

.splash {
	font-size: 20em;
	text-align: center;
	font-family: 'Alberto', sans-serif;
	color: white;
	padding-top: 80px;
}
@media screen and (max-width: 600px) {
	.splash {
		font-size: 10em;
	    }
}

.footer {
	font-size: 1.6em;;
	text-align:right;
	position: fixed;
	right: 0;
	bottom: 0;
	font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
	font-weight: 100;
	padding: 10px;
}

a{
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


@font-face {
	font-family: alberto;
	src: url(resources/fonts/alberto.woff);
}
