* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
	background-image: url(resources/images/background.jpg);
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: rgba(3, 3, 3, 0.92);
    height: 100%;
}

.splash {
	font-size: 20em;
	text-align: center;
	font-family: 'Alberto', sans-serif;
	color: white;
    letter-spacing: .15em;
    padding-top: 80px;
}

.footer {
	font-size: 1.3em;;
	text-align:right;
	position: fixed;
	right: 0;
	bottom: 0;
	font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
	font-weight: 200;
}

a{
	color: inherit;
}

@font-face {
	font-family: alberto;
	src: url(resources/fonts/alberto.woff);
}
